<a href="https://colab.research.google.com/github/Stanly-t/basic-6/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10

In [ ]:
x

10

In [ ]:
name=input("Enter the name ")
print(name)

Enter the name stanly
stanly

In [ ]:
name=input("enter the name ")
print(name)

x=int(input("enter your mark 1 "))
y=int(input("enter your mark 2 "))
z=int(input("enter your mark 3 "))
total =x + y + z
print(total)

enter the name sam
sam
enter your mark 1 45
enter your mark 2 30
enter your mark 3 15
90

In [ ]:
name=input("enter the name ")
print(name)

x=int(input("enter your mark 1 "))
y=int(input("enter your mark 2 "))
z=int(input("enter your mark 3 "))
total =x + y + z
print(total)
print(total/3)

enter the name azsd
azsd
enter your mark 1 12
enter your mark 2 445
enter your mark 3 54
511
170.33333333333334

In [ ]:
x=int(input("enter your mark 1 "))
y=int(input("enter your mark 2 "))

if x>y:
  print(x," is larger")
else:
  print(x, "is smaller")

enter your mark 1 45
enter your mark 2 21
45  is larger

In [ ]:
x=int(input("enter your mark 1 "))
y=int(input("enter your mark 2 "))

if x>y:
  print("x is larger")
else:
  print("x is smaller")

enter your mark 1 15
enter your mark 2 62
x is smaller

In [ ]:
x=int(input("enter one number "))
y=int(input("enter one number "))
z=int(input("enter one number "))
if x>y and z:
  print(x, "is larger")
if y>x and z:
  print(y, "is larger")
if z>y and x:
  print(z, "is larger")

enter one number 1
enter one number 5
enter one number 2
5 is larger

In [65]:
x=int(input("enter one number "))
if x%2==0:
  print(x, "is even")
else:
  print(x, "is odd ")

enter one number 62
62 is even

In [52]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [62]:
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10

In [66]:
for i in range(0,11):
  print(i)
  if i%2==0:

SyntaxError: ignored