<a href="https://colab.research.google.com/github/Stanly-t/basic-6/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input())
if(num>0):
  print("absolute value of ", num, "is",num)
else:
  num=num*(-1)
  print("absolute value of", num, "is",num)

-2
absolute value of 2 is 2

In [ ]:
num=int(input())
if(num>0):
  print("absolute value of ", num, "is",num)
else:
  num=num*(-1)
  print("absolute value of", num, "is",num)

1
absolute value of  1 is 1

In [ ]:
x=int(input("enter your mark "))
if x<25:
  print("your grade is F")
elif 25<x<=45:
  print("your grade is E")
elif 45<x<=50:
  print("your grade is D")
elif 50<x<=60:
  print("your grade is C")
elif 60<x<=80:
  print("your grade is B")
elif x>80 :
  print("your grade is A")

enter your mark 40
your grade is E

In [ ]:
n1=int(input("present days "))
n2=int(input("total days "))
p=n1/n2*100
print(p)
if p>75:
  print("Student is allowed to sit in exam")
else:
  print("Student is not allowed to sit in exam")

present days 20
total days 25
80.0
Student is allowed to sit in exam

In [28]:
print("1,addition")
print("2,substraction")
print("3,multiplication")
print("4,division")
print("5,modulus")
print("6,floor division")
print("7,exponent")
z=int(input("enter a number "))
x=int(input("first number "))
y=int(input("second number "))
if z==1:
  print(x+y)
if z==2:
  print(x-y)
if z==3:
  print(x/y)
if z==4:
  print(x*y)
if z==5:
  print(x%y)
if z==6:
  print(x//y)
if z==7:
  print(x**y)

1,addition
2,substraction
3,multiplication
4,division
5,modulus
6,floor division
7,exponent
enter a number 2
first number 5
second number 4
1

In [27]:
z=int(input("enter a number "))
x=int(input("first number "))
y=int(input("second number "))
if z==1:
  print(x+y)
if z==2:
  print(x-y)
if z==3:
  print(x/y)
if z==4:
  print(x*y)
if z==5:
  print(x%y)
if z==6:
  print(x//y)
if z==7:
  print(x**y)

enter a number 5
first number -2
second number 5
3

In [30]:
print("Basic Calculator - Enter Numbers 1-4 to choose operation: ")
print("1.Add")
print("2.Substract")
print("3.Multiply")
print("4.Divide")

x=int(input("Enter Choice(1-4): "))

if x==1:
    a=int(input("Enter First Number:"))
    b=int(input("Enter Second Number:"))
    c=a+b
    print("Sum = ",c)
elif x==2:
    a=int(input("Enter First Number:"))
    b=int(input("Enter Second Number:"))
    c=a-b
    print("Difference = ",c)
elif  x==3:
    a=int(input("Enter First Number:"))
    b=int(input("Enter Second Number:"))
    c=a*b
    print("Product = ",c)
elif x==4:
    a=int(input("Enter First Number:"))
    b=int(input("Enter Second Number:"))
    c=a/b
    print("Quotient = ",c)
else:
    print("Invalid")

Basic Calculator - Enter Numbers 1-4 to choose operation:
1.Add
2.Substract
3.Multiply
4.Divide
Enter Choice(1-4): 4
Enter First Number:4
Enter Second Number:1
Quotient =  4.0

In [31]:
x1=int(input('Enter marks of first subject '))
x2=int(input('Enter marks of second subject '))
x3=int(input('Enter marks of third subject '))
x4=int(input('Enter marks of fourth subject '))
x5=int(input('Enter marks of fifth subject '))
print('Least marks:',min(x1,x2,x3,x4,x5))
print('Maximum marks:',max(x1,x2,x3,x4,x5))

Enter marks of first subject 50
Enter marks of second subject 40
Enter marks of third subject 45
Enter marks of fourth subject 50
Enter marks of fifth subject 10
Least marks: 10
Maximum marks: 50

In [36]:
x1=int(input('Enter marks of first subject '))
x2=int(input('Enter marks of second subject '))
x3=int(input('Enter marks of third subject '))
x4=int(input('Enter marks of fourth subject '))
x5=int(input('Enter marks of fifth subject '))
m=(x1+x2+x3+x4+x5)
print(m/5)

Enter marks of first subject 1
Enter marks of second subject 2
Enter marks of third subject 3
Enter marks of fourth subject 3
Enter marks of fifth subject 1
2.0

In [ ]:
2