<a href="https://colab.research.google.com/github/Stanly-t/basic-6/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
x=(input("enter passenger's travel source  "))
y=(input("enter passenger's travel destination "))
z=(input("enter the number of passenger  "))

enter passenger's travel source  kochi
enter passenger's travel destination vytilla
enter the number of passenger  3

In [10]:
x=int(input("Total ticket fare "))
z=int(input("No of Passengers "))
Totalfare=print(x/z)

Total ticket fare 500
No of Passengers 2
250.0

In [11]:
x=input("Passengers Name ")
y=int(input("Ticket fare "))
print(x,y)

Passengers Name stanly
Ticket fare 12345
stanly 12345

In [15]:
x=int(input("Total ticket fare "))
z=int(input("No of Passengers "))
Totalfare=print(x/z) 
if x>10000:
  print("Eligible for discount")

Total ticket fare 500000
No of Passengers 2
250000.0
Eligible for discount

In [19]:
x=int(input("Total ticket fare "))
z=int(input("No of Passengers ")) 
if x>15000:
  print("Eligible for 20% discount")
else :
  print("Eligible for 10% discount")

Total ticket fare 1000
No of Passengers 1
Eligible for 10% discount

In [29]:
x=int(input("Total ticket fare "))
z=int(input("No of Passengers ")) 
if x>15000:
  print("Eligible for 20% discount")
  print(x*80/100)
elif x>10000 :
  print("Eligible for 10% discount")
  print(x*90/100)
if x<10000:
  print("Eligible for 5% discount")
  print(x*95/100)

Total ticket fare 4000
No of Passengers 1
Eligible for 5% discount
3800.0

In [31]:
x=int(input("Enter A Number "))
if x>0:
  print("Positive")
elif x<0:
  print("Negative")
else:
  print("Zero")

Enter A Number -1
Negative

In [39]:
x=int(input("Age of Passenger "))
if x>17:
  print("Adult")
if x>11 and x<17:
  print("Teenager")
elif x>5 and x<11:
  print("Kid")
else:
  print("Infant")

Age of Passenger 12
Teenager

In [40]:
x=input("Passengers Initial ")
if x=="A":
  print("Vowel")
elif x=="E":
  print("Vowel")
elif x=="I":
  print("Vowel")
elif x=="O":
  print("Vowel")
elif x=="U":
  print("Vowel")
else:
  print("Not Vowel")

Passengers Initial s
Not Vowel

In [41]:
x=input("Enter Your Name ")
for a in x:
  print(a)

Enter Your Name stanly
s
t
a
n
l
y

In [42]:
for a in range (45,88,2):
  print(a)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [43]:
for a in range (1,10,2):
  print(a)

1
3
5
7
9