<a href="https://colab.research.google.com/github/Stanly-t/basic-6/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num=int(input("enter the number to display the correspnding multiplication tabele: "))
for i in range(1,11):
  print(i,"*",num,"=",i*num)

enter the number to display the correspnding multiplication tabele: 2
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

In [2]:
num=int(input())
i=1
while(i<=10):
  print(i*num)
  i=i+1

2
2
4
6
8
10
12
14
16
18
20

In [7]:
num=input("Enter the number ")
k=0
for i in num:
  #print(1)
  k=k+1
print(k)

Enter the number 356
3

In [8]:
string=input(("enter string: "))
reversestring= ""
for i in string:
    reversestring = i + reversestring
print("reverse string: ",reversestring)      
if (string == reversestring):
    print("the string is palindrome")
else:
    print("the string is not palindrome")

enter string: stanly
reverse string:  ylnats
the string is not palindrome

In [9]:
name=input(("enter user name: "))
name=name.replace("a","k")
print(name)

enter user name: stanly
stknly

In [10]:
name=input(("enter username: "))
if name.isupper():
  print("Upper case") 
  print(name.lower())
if name.islower():
  print("lower case")
  print(name.upper())

enter username: stanlytomy
lower case
STANLYTOMY

In [12]:
list=["Canada","France","Switzerland","Germany"]
print(list)
list.append("france")

['Canada', 'France', 'Switzerland', 'Germany']